<section class="mainbar" data-ng-controller="visualization as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label  class="control-label">Exemplos de Consultas:</label>
                                        <select ng-model="vm.selectedQuery" class="form-control" ng-options="q.name for q in vm.sampleQueries"
                                                ng-change="vm.query = vm.selectedQuery.query" ></select>
                                    </div>
                                </form>

                            </div>
                            <div class="col-md-12">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <p>
                                    <label>Consultas em Cypher</label>
                                    <textarea data-ng-model="vm.query" rows="1" style="width:100%;"></textarea>
                                </p>
                                <p>
                                    <button class="btn btn-success" data-ng-click="vm.runQuery()">Execute</button>
                                </p>
                            </div>

                        </div>
                            <div class="col-md-12">
                                <h2>Resultado da consulta</h2>

                                <ul>
                                    <li data-ng-repeat="node in vm.nodes | filter:json">{{node}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    </section>
</section>
<div id="alchemy" class="alchemy">


